


body {
	background-color: #e7f0f5;
	
}

.container {
	
    padding: 150px;
	justify-content: center;
    
            
}

button {
	cursor: pointer;

}

.avatar {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

img {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}


.servicio {
	
    padding: 50px;
	justify-content: center;
    margin-top: 1%;
    
}

.table {
    background-color: rgb(255, 255, 255);
    
}


